.env
# pixi environments
.pixi
*.egg-info
# vscode / cursor
.vscode/settings.json

# Build Artifacts
*.mojopkg

# Submodules
firehose
modular
modular/bazel-modular
EmberJson

# Stdlib build artifacts
kgen.trace*