# version: "3.8"

x-ash_dynamics_base: &ash_dynamics_base
  working_dir: /home/mojo_user/ash_dynamics
  logging:
    driver: json-file
    options:
      max-size: 50m
  stdin_open: true
  tty: true
  shm_size: 16000000000
  ports:
    - "5910:5910"
  volumes:
    - .:/home/mojo_user/ash_dynamics/
    - ~/.ssh:/home/mojo_user/.ssh:rw
    - ash_dynamics_vscode_data_cache:/home/mojo_user/.vscode-server/data/User/globalStorage:rw
    - /tmp/.X11-unix:/tmp/.X11-unix:rw
  environment:
    C_BINDING_MOJO_TEST_MUJOCO: /home/mojo_user/ash_dynamics/mujoco_mojo/mujoco
    PIXI_ENVIRONMENT_NAME: ${PIXI_ENVIRONMENT_NAME:-default}
    DISPLAY: host.docker.internal:0

volumes:
  ash_dynamics_vscode_data_cache:
      external: false

services:
  ash_dynamics_build_x86_64:
    build:
      dockerfile: ash_dynamics.Dockerfile
      context: .
      args:
      - BASE_IMAGE=ubuntu:22.04
      cache_from:
      - josiahls/ash_dynamics-x86_64-cpu:${VERSION:-latest}
    image: josiahls/ash_dynamics-x86_64-cpu:${VERSION:-latest}
    profiles: ["build_x86_64_cpu"]
    platform: linux/amd64

  ash_dynamics_build_arm64:
    build:
      dockerfile: ash_dynamics.Dockerfile
      context: .
      args:
      - BASE_IMAGE=arm64v8/ubuntu:22.04
      cache_from:
      - josiahls/ash_dynamics-arm64-cpu:${VERSION:-latest}
    image: josiahls/ash_dynamics-arm64-cpu:${VERSION:-latest}
    profiles: ["build_arm64_cpu"]
    platform: linux/arm64

  ash_dynamics_build_gpu_x86_64:
    build:
      dockerfile: ash_dynamics.Dockerfile
      context: .
      args:
      - BASE_IMAGE=nvidia/cuda:12.0.0-devel-ubuntu22.04
      cache_from:
      - josiahls/ash_dynamics-x86_64-gpu:${VERSION:-latest}
    image: josiahls/ash_dynamics-x86_64-gpu:${VERSION:-latest}
    profiles: ["build_x86_64_gpu"]
    platform: linux/amd64

  #trigger
  ash_dynamics_build_gpu_arm64:
    build:
      dockerfile: ash_dynamics.Dockerfile
      context: .
      args:
      - BASE_IMAGE=nvidia/cuda:12.0.0-devel-ubuntu22.04
      cache_from:
      - josiahls/ash_dynamics-arm64-gpu:${VERSION:-latest}
    image: josiahls/ash_dynamics-arm64-gpu:${VERSION:-latest}
    profiles: ["build_arm64_gpu"]
    platform: linux/arm64

  ash_dynamics_cpu_arm64: &ash_dynamics_cpu_arm64
    <<: *ash_dynamics_base
    profiles: ["arm64_cpu"]
    restart: unless-stopped
    platform: linux/arm64
    image: josiahls/ash_dynamics-arm64-cpu:${VERSION:-latest}

  ash_dynamics_gpu_arm64: &ash_dynamics_gpu_arm64
    <<: *ash_dynamics_cpu_arm64
    profiles: ["arm64_gpu"]
    image: josiahls/ash_dynamics-arm64-gpu:${VERSION:-latest}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  ash_dynamics_cpu_x86_64: &ash_dynamics_cpu_x86_64
    <<: *ash_dynamics_base
    profiles: ["x86_64_cpu"]
    restart: unless-stopped
    platform: linux/amd64
    image: josiahls/ash_dynamics-x86_64-cpu:${VERSION:-latest}

  ash_dynamics_gpu_x86_64: &ash_dynamics_gpu_x86_64
    <<: *ash_dynamics_cpu_x86_64
    profiles: ["x86_64_gpu"]
    image: josiahls/ash_dynamics-x86_64-gpu:${VERSION:-latest}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
  

