[workspace]
authors = ["Josiah Laivins <jklaivins@gmail.com>"]
channels = [
    "https://conda.modular.com/max-nightly", 
    "https://repo.prefix.dev/modular-community", 
    "conda-forge"
]
name = "ash_dynamics"
platforms = ["linux-64", "linux-aarch64"]
version = "0.1.0"
license = "Apache-2.0"
license-file = "LICENSE"
homepage = "https://github.com/josiahls/ash_dynamics"
repository = "https://github.com/josiahls/ash_dynamics"

[environments]
stdlib-dev = {features = ["stdlib-dev"]}

[dependencies]
mojo = ">=0.26.1.0.dev2025121805,<0.27"
pre-commit = ">=4.5.0,<5"

[activation.env]
#ASH_DYNAMICS_INCLUDES = " -I . -I third_party/lightbug_http"
ASH_DYNAMICS_INCLUDES = " -I ."
LD_LIBRARY_PATH = "$PIXI_PROJECT_ROOT/third_party/ffmpeg/build/lib:$LD_LIBRARY_PATH"
MOJO_ENABLE_STACK_TRACE_ON_ERROR="1"

[tasks]
########################## Pre-commit Configuration ############################
install_pre_commit_hooks = { cmd = [
    "pre-commit", "install"
], outputs = [".git/hooks/pre-commit"]}

# Note: This should be in the third_party setup directory, but pixi's support
# for outputs in its written out form isn't supported.
build_ffmpeg = { cmd = "bash tools/build_ffmpeg.sh", inputs = [
    "tools/build_ffmpeg.sh",
], outputs = [
    "third_party/ffmpeg/build/lib/*.so"
], depends-on = [ "clone_ffmpeg" ] }

############################ Git Ops ###########################################
push = "git push --force-with-lease"

[tasks.rebase]
cmd = "git rebase -i HEAD~{{ n_commits }}"
args = [{ arg = "n_commits", default = "1" }]

######################### Third Party Setup API ################################
[tasks.clone_lightbug_http]
cmd = "bash tools/clone_lightbug_http.sh"

[tasks.clone_ffmpeg]
cmd = "bash tools/clone_ffmpeg.sh"

############################### Core API #######################################
[tasks.configure]
cmd = "bash tools/configure.sh"
depends-on = [ "install_pre_commit_hooks", "clone_lightbug_http", "build_ffmpeg" ]

[tasks.package]
cmd = "pixi run mojo package $ASH_DYNAMICS_INCLUDES ash_dynamics"
depends-on = [ "configure", "clone_lightbug_http", "clone_ffmpeg" ]

[tasks.format]
cmd = "pixi run mojo format ash_dynamics"

[tasks.test_no_config]
cmd = "pixi run mojo run -D ASSERT=all $ASH_DYNAMICS_INCLUDES {{ file }}"
args = ["file"]

[tasks.debug]
cmd = "pixi run mojo debug -D ASSERT=all --debug-level=line-tables $ASH_DYNAMICS_INCLUDES {{ file }}"
args = ["file"]

[tasks.test]
args = ["file"]
depends-on = [ 
    "configure",  
    { task = "test_no_config", args = ["{{ file }}"] }
]

[tasks.test_all]
cmd = "pixi run mojo run run_tests.mojo"




########################## Mojo Standard Library ###############################
[feature.stdlib-dev.activation.env]
MODULAR_MOJO_MAX_IMPORT_PATH="$PIXI_PROJECT_ROOT/third_party/modular/bazel-bin"
# MOJO_ENABLE_STACK_TRACE_ON_ERROR="1"

[feature.stdlib-dev.tasks]
clone_stdlib = "bash tools/clone_stdlib.sh"

sym_link_stdlib = "bash tools/sym_link_stdlib.sh"

update_stdlib = { cmd = [
    "cd", "third_party/modular", "&&",
    "./bazelw", "build", "//mojo/stdlib/std"
], depends-on = [ "sym_link_stdlib", "clone_stdlib" ]}

clean_update_stdlib = { cmd = [
    "cd", "third_party/modular", "&&",
    "git", "switch", "main", "&&",
    "git", "fetch", "origin", "&&",
    "git", "reset", "--hard", "origin/main", "&&",
    "./bazelw", "build", "//mojo/stdlib/..."
], depends-on = [ "clone_stdlib" ]}
