[project]
authors = ["Josiah Laivins <jklaivins@gmail.com>"]
channels = [
    "https://conda.modular.com/max-nightly", 
    "https://repo.prefix.dev/modular-community", 
    "conda-forge"
]
name = "ash_dynamics"
platforms = ["linux-64", "linux-aarch64"]
version = "0.1.0"
license = "Apache-2.0"
license-file = "LICENSE"
homepage = "https://github.com/josiahls/ash_dynamics"
repository = "https://github.com/josiahls/ash_dynamics"

[environments]
stdlib-dev = {features = ["stdlib-dev"]}

[dependencies]
mojo = "==0.25.7.0,<0.26"
pre-commit = ">=4.3.0,<5"

[activation.env]
LD_LIBRARY_PATH="$PIXI_PROJECT_ROOT/tests/test_c_project/build:$LD_LIBRARY_PATH"
GEM_HOME="$HOME/.local/share/gem"
PATH="$HOME/.local/share/gem/ruby/3.0.0/bin:$HOME/.local/share/gem/bin:${PATH}"
ASH_DYNAMICS_INCLUDES = " -I ."

[tasks]

########################## Pre-commit Configuration ###########################
install_pre_commit_hooks = { cmd = [
    "pre-commit", "install"
], outputs = [".git/hooks/pre-commit"]}

############################### Core API ######################################
# NOTE: If we want to use the stdlib, we need to run the update_stdlib during configure to make dev work convenient.
# pixi supports overriding the default task, but then the user gets prompted on which task they are to run every time.
configure = { cmd = [
    "bash", "-c", 
    "echo 'configuring' && if [ \"$PIXI_ENVIRONMENT_NAME\" = \"stdlib-dev\" ]; then echo 'Running in stdlib-dev environment, updating stdlib...'; pixi run update_stdlib; fi"
], depends-on = [ "install_pre_commit_hooks" ] }

package = { cmd = [
    "mojo", "package", "$ASH_DYNAMICS_INCLUDES", "ash_dynamics",
], depends-on = [ "configure" ]}

format = { cmd = [
    "mojo", "format", "ash_dynamics"
]}

docs = { cmd = [
    "cd", "docs", "&&", "bundle", "exec", "jekyll", "serve", "--livereload"
], depends-on = [ "build_docs" ]}

############################ Git Ops ##########################################
push = "git push --force-with-lease"

i_rebase = { cmd = [
    "git", "rebase", "-i", "HEAD~{{ n_commits}}"
], args = [{ arg = "n_commits", default = "1" }]}

[feature.stdlib-dev.activation.env]
MODULAR_MOJO_MAX_IMPORT_PATH="$PIXI_PROJECT_ROOT/modular/bazel-bin"
# MOJO_ENABLE_STACK_TRACE_ON_ERROR="1"

[feature.stdlib-dev.tasks]
########################## Mojo Standard Library ##############################
clone_stdlib = { cmd = [
    "bash", "-c", 
    "if [ ! -d modular ] && [ ! -L modular ]; then git clone https://github.com/modular/modular.git; else echo 'Modular directory already exists.'; fi"
]}

sym_link_stdlib = { cmd = [
    "bash", "-c", 
    "if [ ! -L modular ] && [ -d $PIXI_PROJECT_ROOT/../modular ]; then ln -s $PIXI_PROJECT_ROOT/../modular modular; else echo 'Modular directory already exists.'; fi"
]}

update_stdlib = { cmd = [
    "cd", "modular", "&&",
    "./bazelw", "build", "//mojo/stdlib/stdlib"
], depends-on = [ "sym_link_stdlib", "clone_stdlib" ]}

clean_update_stdlib = { cmd = [
    "cd", "modular", "&&",
    "git", "switch", "main", "&&",
    "git", "fetch", "origin", "&&",
    "git", "reset", "--hard", "origin/main", "&&",
    "./bazelw", "build", "//mojo/stdlib/..."
], depends-on = [ "clone_stdlib" ]}
